.progressbar {
	background-color: cadetblue;
	height: 5px;
	border-radius: 4px;
	box-shadow: inset 0 0.5em 0.5em rgba(0, 0, 0, 0.05);
	overflow: hidden;
	position: relative;
	transform: translateZ(0);
	width: 0%;
}
.container {
	left: 0;
	width: 100%;
	height: 0.4em;
	margin-bottom: 0px;
	position: fixed;
	top: 0px;
	display: table;
	table-layout: fixed;
	margin: 1rem 0 1rem 0;
	width: 100%;
}

.icon {
	left: 0;
	width: 100%;
	height: 0.4em;
	margin-bottom: 0px;
	position: fixed;
	top: 0px;
	display: table;
	table-layout: fixed;
	margin: 1rem 0 1rem 0;
	width: 100%;
}
